* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 40);
}

#purchase-form {
    margin: 70px auto;
    text-align: center;
}

#purchase-form p {
    color: beige;
    font-family: tahoma;
    margin-bottom: 5px;
}

#purchase-form input {
    display: block;
    margin: 0 auto;
    height: 30px;
    border: none;
    border-radius: 35px;
    padding: 5px;
}

#purchase-form button {
    width: 75px;
    height: 30px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    transition: all 0.3s ease;
}

#purchase-form button:hover {
    transform: scale(1.1);
    background-color: limegreen;
    box-shadow: 0 0 10px 2px limegreen;
    color: black;
}

#price-input {
    background-color: black;
    border-radius: 20px;
    border: none;
    height: 30px;
    width: 140px;
    z-index: 2;
    color: white;
    padding: 5px;
    text-align: center;
}

#amount-outer {
    position: absolute;
    width: 150px;
    height: 40px;
    background-color: rgb(0, 118, 75) ;
    top: 190px;
    left: calc(50% - 75px);
    border-radius: 30px;
    padding: 5px;
}

#neck-inner {
    position: absolute;
    border-radius: 10px;
    background-color: cyan;
    width: 20px;
    height: 30px;
}

#neck-outer {
    position: absolute;
    background-color: rgb(0, 118, 75);
    width: 30px;
    height: 40px;
    top: 220px;
    left: calc(50% - 15px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1    
}

#cash-in-drawer-div {
    position: absolute;
    width: 150px;
    height: 190px;
    right: 15px;
    top: 25px;
    padding: 5px;
    border-radius: 20px;
    background-color: beige;
    font-family: tahoma;
    font-size: 14px;
}

#button {
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

#buttons-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 7px;
    background-color: rgb(0, 0, 88);
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 25px;
    top: 25px;
    left: 20px;
    place-items: center;
}

#register-outer {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgb(0, 118, 75);
    position: absolute;
    width: 300px;
    height: 250px;
    top: 260px;
    left: calc(50% - 150px);
}

#drawer-button {
    border-radius: 50%;
    background-color: black;
    position: absolute;
    width: 15px;
    height: 15px;
}

#drawer-inner {
    position: absolute;
    width: 280px;
    height: 90px;
    background-color: rgb(0, 118, 75);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#drawer-outer {
    width: 300px;
    height: 100px;
    background-color: rgb(0, 225, 255);
    position: absolute;
    border-radius: 20px;
    top: 500px;
    left: calc(50% - 150px);
    box-shadow: 0 0 0px 3px white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}